<form action="">
        <h2 style="text-align: center;padding-top: 5%">Register</h2>
        <p style="text-align: center">Enter Your Details Correctly</p>
            <p style="text-align: center">
            Full Name <input type="text" name="fullname" placeholder="Full Name" required style="padding-right: 60px;margin-left: 80px"></p>
            <p style="text-align: center">
            E-mail <input type="text" name="email" placeholder="Email address" email required style="padding-right: 60px;margin-left: 80px"></p>
            <p style="text-align: center">
            Password <input type="text" name="password" placeholder="Password" required style="padding-right: 60px;margin-left: 80px"><br></p>
            <p style="text-align: center">
            Confirm Password <input type="text" name="confirm password" placeholder="confirm Password entered" required style="padding-right: 60px;margin-left: 80px"><br></p>
            <div class="text-center">
            <button class="btn btn-primary" style="text-align: center" (click)="onclicked()"> Register</button></div>
</form>