<h1 style="color: black; text-align: center">Welcome To My Portfolio </h1>
<div class="container" style="padding: 10px; align-self: center">
      
    <div
      class="jumbotron row"
      style="
        background-color: cornsilk;
        text-align: justify;
        margin-top: 6%;
        margin-bottom: 10px;
        padding: auto;
        image-resolution: inherit;
      "
    >
      <div class="col-sm-5" style="float: inherit">
        <img src="assets\img\suitecase.jpg" alt="img" class="img-fluid" />
      </div>
      <div class="col">
        <h2 style="color: brown; text-align: center">HOME</h2>
            <p style="color: brown; margin-top: 10%">
              I work for a corporation and am actively pursuing my dream of building unique websites on my own. 
              My main focus is building user-friendly websites, 
              and I hope to partner with some colleges to create websites and expand my business internationally..
        </p>
        <div class="float-right my-1">
          <a class="btn" routerLink="/aboutus" style="background-color: darkgrey;">About Us</a>
  
          <a class="btn" routerLink="/contactus" style="background-color: darkgrey;">Contact Us</a>
        </div>
      </div>
    </div>
  </div>