<div class="container" style="padding: 10px; align-self: center">
    <div
      class="jumbotron row"
      style="
        background-color: grey;
        text-align: justify;
        margin-top: 6%;
        margin-bottom: 10px;
        padding: auto;
        image-resolution: inherit;
      "
    >
      <div class="col-sm-5" style="align-content: center">
        <img src="assets\img\about.jpg" height="50px" alt="img" class="img-fluid"/>
      </div>
      <div class="col">
        <h2 style="color: black; text-align: center"> My Intro</h2>
        <p style="color: black; margin-top: 10%">
          Hello everyone! I'm glad you're here. 
          Ragnar Lothbrok is my name, and I work as a senior software developer for a corporation. 
          I worked on many websites this summer to make users more appealing and to gain experience in developing websites with a variety of uses. 
          I've been building websites for the past two years. 
          I developed a dynamic website for Kattegat University that deals with students' notes that are encoded in the form of puzzles that students must answer by listening to that day's lecture in order to unlock.
          The university offered me a position as a professor for my work, but I want to concentrate on my career.
          In order to create websites, I wanted to work with various businesses or academic organisations. 
          I also offer a three-month crash course on HTML, CSS, and JavaScript that will help you learn the fundamentals of websites. 
          Not even that I like to spend my free time travelling and learning about other people's traditions.
          Thank You!
        </p>
        <div class="float-right my-1">
          <a class="btn" routerLink="/contactus" style="background-color: skyblue;">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>